In [1]:
import pandas as pd
from pathlib import Path

In [4]:
School_csv = Path("../Resources/schools_complete.csv")
Student_csv = Path("../Resources/students_complete.csv")
School_df = pd.read_csv(School_csv)
Student_df = pd.read_csv(Student_csv)

In [5]:
Combined_df = pd.merge(School_df, Student_df, how="left", on=["school_name", "school_name"])
Combined_df.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [14]:
school_count = Combined_df['school_name'].nunique()
school_count

15

In [16]:
student_count = Combined_df['Student ID'].count()
student_count

39170

In [19]:
total_budget = Combined_df['budget'].unique().sum()
total_budget

24649428

In [21]:
average_math_score = Combined_df['math_score'].mean()
average_math_score

78.98537145774827

In [23]:
average_reading_score = Combined_df['reading_score'].mean()
average_reading_score

81.87784018381414

In [25]:
pass_math_count = Combined_df[(Combined_df)['math_score'] >= 70].count()["student_name"]
pass_math_percent = pass_math_count/float(student_count) * 100
pass_math_percent

74.9808526933878

In [27]:
pass_reading_count = Combined_df[(Combined_df)['reading_score'] >= 70].count()["student_name"]
pass_reading_percent = pass_reading_count/float(student_count) * 100
pass_reading_percent

85.80546336482001

In [29]:
pass_math_reading_count = Combined_df[
        (Combined_df["math_score"] >= 70) & (Combined_df["reading_score"] >=70)
    ].count()["student_name"]
combined_passing_rate = pass_math_reading_count / float(student_count) * 100
combined_passing_rate

65.17232575950983

In [36]:
district_summary = school_count, student_count, total_budget, average_math_score, average_reading_score, pass_math_percent, pass_reading_percent, combined_passing_rate
district_summary

(15,
 39170,
 24649428,
 78.98537145774827,
 81.87784018381414,
 74.9808526933878,
 85.80546336482001,
 65.17232575950983)